.counterContainer{
  display: flex;
  font-size: 20px;
  justify-content: center;

}

.button{
  background-color: #2F3576;
  border-radius: 50px;
  color: rgb(238, 230, 245);
  width: 30px;
  height: 30px;
  justify-items: center;
}

.inputValue{
  width: 30px;
  flex-direction: column;
  font-size: large;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.inputValue {
  text-align: center;
}
